
html {
    background-color: white;
}

header, aside {

    border: 3px solid #5271ff;
    background-color: #cccccc;
    width: 50%;
    margin: 0;
}


body {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

.table, .pasTable {
    margin: 15px;
    padding: 15px;
    background-color: #cccccc;
    border-radius: 20px;
    border: 3px solid #5271ff;
}

#lesTables span {
    display: flex;
}

#lesTables span > div {
    cursor: pointer;
    text-align: center;
}

#lesTables span > div > span {
    justify-content: space-between;
}

#lesTables span > div p {
    pointer-events: none;
}

.deleteT {
    background-color: red;

    border: 3px solid #5271ff;
    border-radius: 20px;

    height: 2em;

    font-size: 80%;
    line-height: 2em;

    cursor: pointer;
}

.deletedT {
    opacity: 50%;
}

.tableNumber {
    pointer-events: none;

    border: 2px solid green;
    border-radius: 20px;

    width: 1.25em;
    height: 1.25em;

    line-height: 1.25em;
}

header * {
    margin: 1em;
}

.headerCentre {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#visualisationHeader {
    border: none;
    background-color: white;
    width: 100%;
    display: flex;
}

.logo {
    border: 3px solid #5271ff;
}

.topMenu div {
    margin-top: auto;
    margin-bottom: auto;
}

.topMenu img {
    border: none;
    width: 50%;
    height: fit-content;
}

h1 {
    font-family: "Leckerli One", serif;
    font-size: 24px;
    color: #233dff;
}

.logoHomePage {
    border-radius: 25px;
    border: 10px solid #5271ff;

    width: 30%;
    height: 30%;
}

#butts {
    width: 65%;
    display: flex;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

#butts a, #tutorial a {
    font-size: 150%;
    border: 3px solid #5271ff;
    border-radius: 25px;

    background-color: #cccccc;

    padding: 1em;
    text-decoration: none;
}

#tutorial {
    margin-top: 5em;
    text-align: center;
}

footer {
    height: 3em;
    margin: 0;

    position: relative;
    width: 100%;
    background-color: #cccccc;

    border: 3px solid #5271ff;
}

footer div {
    position: absolute;

    bottom: 0;
    right: 0;
}

hr {
    margin-top: 5em;
    border: 5px solid #5271ff;
}

.headerGauche {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 35%;
    border-bottom: 0 transparent;

}

.headerGauche .logo {
    margin-left: 0;
    margin-bottom: 0;
    height: 100%;
}


.logoPageSec {
    border-radius: 15px;
    border: 3px solid #5271ff;
    width: 50%;
    height: 50%;
}

#import, select {
    border: 3px solid #5271ff;
    background-color: #cccccc;
}

#doubleContent {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0;
}

.mainDouble {
    max-width: 100vw;
    overflow-x: auto;
    overflow-y: visible;
    margin-bottom: 10px;

}

.boutWalider {
    border: 1px solid black;
    background-color: red;
    margin: 10px;
    padding: 3px;
    font-size: medium;

}

.topAsside {
    background-color: #cccccc;
    border: 3px solid #5271ff;

    border-radius: 20px;
}

.pageCrea {
    display: inline-flex;
}


.boutPlus {
    font-size: large;
    border: 1px solid #233dff;
    background-color: #cccccc;
    border-radius: 40px;
    height: fit-content;
    width: fit-content;
    justify-content: center;
}

.invalid, .valid {
    border: 1px solid #233dff;
    padding: 5px;
}

.invalid {
    background-color: rgba(255, 69, 0, 0.61);
}

.valid {
    background-color: rgba(26, 255, 0, 0.61);
}

.select {
    border-color: rgba(26, 255, 0, 0.61);
}

section {
    margin: 5px;
    display: grid;
}

.ligne {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.ligne input {

    align-content: center;
    height: min-content;
}

.column {
    display: flex;
    flex-direction: column;
}

.connect {
    background: linear-gradient(white, #5271ff, #5271ff, white);
}

.login, .subscribe {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 400px;
    position: sticky;
    top: 250px;
    left: 500px;
}

.formulaire {

}

.reverseLigne {
    display: flex;
    flex-direction: row-reverse;
}

.inputLabel {
    margin: 2px;
}

.valuesOfTable {
    margin: 10px 5px;
}

.pasTable {
    visibility: hidden;
    min-width: 132px;
    min-height: 132px;
}

main {
    padding-bottom: 3em;
}




